body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: black;
    padding: 15px;
    border: 2px solid red;
}

.navbar a {
    color: aquamarine;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: yellow;
    background-color: brown;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Profile Card */
.profile-card {
    margin-top: 40px;
}

.profile-card img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.name {
    font-size: 40px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.gender {
    font-size: 20px;
    color: gray;
    margin-top: 0;
}
